<a href="https://colab.research.google.com/github/dk432664/Housepriceprediction/blob/master/Sentiment%20in%20Text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sentiment in text

In [0]:
import tensorflow as tf
from tensorflow import keras

In [0]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
sentence=['Top Institute of Engineering in Technology Exploration',
           'Institute of Engineering and Technology Kharagpur',
            'Institute of Engineering and Technology Madras',
         'Institute of Engineering and Technology Bombay',
          'Institute of Engineering and Technology Roorkee',
          'Institute of Engineering and Technology Kharagpur',
          'Institute of Engineering and Technology Kanpur',
          'Institute of Engineering and Technology Guwati',
          'Top Engineering Institute in MadhyaPradesh',
          'Institute of Engineering and Technology DAVV',
          'SGSITS',
          'National Institute Of Technology Bhopal',
          'Indian Institute of Engineering and Technology',
          'MY Hobbies',
          'I love to play Badminton',
          'I love to play Cricket',
          'I love to play Hockey',
          'I love to play VolleyBall',
          'I love to play Pool',
          'I love to listen songs of TK',
          'I love to listen songs of AS',
          'I love to listen songs of AW',
          'I love to listen songs of DB',
          'No of Subjects in 3 year of Engineering',
          'Software Engineering',
          'Software Lab']

In [0]:
token=Tokenizer(num_words=300,oov_token="<OOTK>")

In [0]:
  token.fit_on_texts(sentence)
  words_index=token.word_index
  sequence=token.texts_to_sequences(sentence)
  pad_d=pad_sequences(sequence,maxlen=13,padding='post')
  test_data=['I love to play Kabbadi',
             'Institute of Engineering and Technology Hyderabad',
             'I love to listen songs of pritam Da ',
             'Computer Network']
             
  tok=token.texts_to_sequences(test_data)
  
  
  words_count=token.word_counts
  print(words_index)
  print(words_count)
  print(sequence)
  print(pad_d)
  print(tok)

{'<OOTK>': 1, 'of': 2, 'engineering': 3, 'institute': 4, 'technology': 5, 'and': 6, 'i': 7, 'love': 8, 'to': 9, 'play': 10, 'listen': 11, 'songs': 12, 'in': 13, 'top': 14, 'kharagpur': 15, 'software': 16, 'exploration': 17, 'madras': 18, 'bombay': 19, 'roorkee': 20, 'kanpur': 21, 'guwati': 22, 'madhyapradesh': 23, 'davv': 24, 'sgsits': 25, 'national': 26, 'bhopal': 27, 'indian': 28, 'my': 29, 'hobbies': 30, 'badminton': 31, 'cricket': 32, 'hockey': 33, 'volleyball': 34, 'pool': 35, 'tk': 36, 'as': 37, 'aw': 38, 'db': 39, 'no': 40, 'subjects': 41, '3': 42, 'year': 43, 'lab': 44}
OrderedDict([('top', 4), ('institute', 24), ('of', 34), ('engineering', 26), ('in', 6), ('technology', 22), ('exploration', 2), ('and', 18), ('kharagpur', 4), ('madras', 2), ('bombay', 2), ('roorkee', 2), ('kanpur', 2), ('guwati', 2), ('madhyapradesh', 2), ('davv', 2), ('sgsits', 2), ('national', 2), ('bhopal', 2), ('indian', 2), ('my', 2), ('hobbies', 2), ('i', 18), ('love', 18), ('to', 18), ('play', 10), ('badminton', 2), ('cricket', 2), ('hockey', 2), ('volleyball', 2), ('pool', 2), ('listen', 8), ('songs', 8), ('tk', 2), ('as', 2), ('aw', 2), ('db', 2), ('no', 2), ('subjects', 2), ('3', 2), ('year', 2), ('software', 4), ('lab', 2)])
[[14, 4, 2, 3, 13, 5, 17], [4, 2, 3, 6, 5, 15], [4, 2, 3, 6, 5, 18], [4, 2, 3, 6, 5, 19], [4, 2, 3, 6, 5, 20], [4, 2, 3, 6, 5, 15], [4, 2, 3, 6, 5, 21], [4, 2, 3, 6, 5, 22], [14, 3, 4, 13, 23], [4, 2, 3, 6, 5, 24], [25], [26, 4, 2, 5, 27], [28, 4, 2, 3, 6, 5], [29, 30], [7, 8, 9, 10, 31], [7, 8, 9, 10, 32], [7, 8, 9, 10, 33], [7, 8, 9, 10, 34], [7, 8, 9, 10, 35], [7, 8, 9, 11, 12, 2, 36], [7, 8, 9, 11, 12, 2, 37], [7, 8, 9, 11, 12, 2, 38], [7, 8, 9, 11, 12, 2, 39], [40, 2, 41, 13, 42, 43, 2, 3], [16, 3], [16, 44]]
[[14  4  2  3 13  5 17  0  0  0  0  0  0]
 [ 4  2  3  6  5 15  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 18  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 19  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 20  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 15  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 21  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 22  0  0  0  0  0  0  0]
 [14  3  4 13 23  0  0  0  0  0  0  0  0]
 [ 4  2  3  6  5 24  0  0  0  0  0  0  0]
 [25  0  0  0  0  0  0  0  0  0  0  0  0]
 [26  4  2  5 27  0  0  0  0  0  0  0  0]
 [28  4  2  3  6  5  0  0  0  0  0  0  0]
 [29 30  0  0  0  0  0  0  0  0  0  0  0]
 [ 7  8  9 10 31  0  0  0  0  0  0  0  0]
 [ 7  8  9 10 32  0  0  0  0  0  0  0  0]
 [ 7  8  9 10 33  0  0  0  0  0  0  0  0]
 [ 7  8  9 10 34  0  0  0  0  0  0  0  0]
 [ 7  8  9 10 35  0  0  0  0  0  0  0  0]
 [ 7  8  9 11 12  2 36  0  0  0  0  0  0]
 [ 7  8  9 11 12  2 37  0  0  0  0  0  0]
 [ 7  8  9 11 12  2 38  0  0  0  0  0  0]
 [ 7  8  9 11 12  2 39  0  0  0  0  0  0]
 [40  2 41 13 42 43  2  3  0  0  0  0  0]
 [16  3  0  0  0  0  0  0  0  0  0  0  0]
 [16 44  0  0  0  0  0  0  0  0  0  0  0]]
[[7, 8, 9, 10, 1], [4, 2, 3, 6, 5, 1], [7, 8, 9, 11, 12, 2, 1, 1], [1, 1]]